:host {
  height: 50px;
  background-color: #515151;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    font-weight: bold;
  }
}

img {
  height: 30px;
  margin-right: 10px;
}

.navigation__title-container {
  display: flex;
  align-items: center;
}

.navigation__title {
  font-size: 25px;
}
